/* Efeitos Globais*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topo {
    width: 100%;
    height: 6vh;
    background-color: #604829;
    position: fixed;
    z-index: 1;
    border-bottom: solid 2px #fff ;
}

.topo .container-logo{
    width: 7%;
    position: absolute;
    left: 15%;
    top: -30%;
}

.topo .container-menu {
    display: inline;
    position: absolute;
    right: 15%;
    top: 15%;    
}

.topo .container-logo .logo {
    width: 65px;
}

.topo .container-menu a {
    text-decoration: none;
    color: #c4a47c;
    font-family: Oswald;
    font-size: 18px;
    font-weight: bold;
    margin: auto 10px;
    text-shadow: 5px 6px 3px #000000;
}

.container-parallax{
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(assets/parallax-imagem1.png);
}

.banner .texto-banner{
    width: 100%;
    position: absolute;
    top: 45%;    
}

.banner .texto-banner h1{
    font-family: Fraunces;
    color:#fff ;
    font-size: 100px;
    text-align: center;     
}

.container-de-texto {
    padding: 80px 0px;
    background-color: #fff;
}

.container-de-texto .subtitulo {
    text-align: center;
    padding-bottom: 30px;
    color: #c4a47c;
    font-size: 18px;
    font-family: Oswald;

}

.container-de-texto .texto {
    margin: 0 auto;
    max-width: 1024px;    
}

.container-de-texto .texto p{
    text-align: center;
    padding: 0 70px;
    line-height: 30px;
    color: #666;
    font-family: Lato;
    font-size: 16px;
}

.parallax1  { 
    background-image: url(assets/parallax-imagem2.jpg);
    height: 50vh;   
}

.parallax2{
    background-image: url(assets/parallax-imagem3.jpg);
    height: 50vh;
}

.parallax3 {
    background-image: url(assets/parallax-imagem4.png);
    height: 100vh;
}

.container-parallax .container-titulo{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 45%;
}

.container-parallax .container-titulo h3 {
    text-align: center;
    background-color: #604829;
    font-family: Fraunces;
    font-size: 24px;
    color: #fff; 
    border-radius: 5px; 
}

.contato .subtitulo {
    width: 250px;
    background-color: #604829;
    color: #fff;
    font-family: Oswald;
    text-align: center;
    position: relative;
    top: 10%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    border-radius: 5px;
}

.contato .container-iframe {
    text-align: center;
    position: relative;
    top: 12%;
    margin-left: auto;
    margin-right: auto;
}

.endereco {
    width: 500px;
    background-color: #604829;
    color: #fff;
    font-family: Oswald;
    text-align: center;
    position: relative;
    top: 15%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    border-radius: 5px;
}
